html {
  background-color: #A17188;
}

/* change header for navbar */
.header {
  color: white;
  background-color: black;
  padding: 50px;
}
.footer {
  color: white;
  background-color: black;
  padding: 50px;
}