/* 
font-family: 'Karla', sans-serif;   --> text

font-family: 'Raleway', sans-serif; --> titles

#E0B0FF - Mauve - light
#BC54FF - Mauve - medium
#9600F7 - Mauve - medium-dark
#5F009C - Mauve - dark

#2F4F4F - Dark Slate gray
#D3D3D3 - Light Gray 

https://www.htmlcsscolor.com/hex/2F4F4F --> get different shades of dark slate gray!

 */

.icons p {
  margin-bottom: 0;
}

.icons {
  color: gray;
  font-size: 12px;
}

.icons a {
  color: gray;
  text-decoration: none;
}
/*

html {
  background-color: #E0B0FF;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: #E0B0FF; #292b2c;
}
 change header for navbar 
.header {
  color: #D3D3D3;
  font-family: 'Raleway', sans-serif;
  font-weight: 'bold';
  background-color: #2F4F4F;
}
.footer {
  color: #D3D3D3;
  font-family: 'Karla', sans-serif;
  background-color: #2F4F4F;
}

.footer-icons {
  font-size: 11px;
}

.footer-icons a {
  text-decoration: none;
}

.copyright {
  text-decoration: none;
}*/