{% extends "easy_notes_app/base.html" %}

{% block content %}

 
  <p>Add some text here.</p>
  <p>No more scribbled paper notes stuck to your monitor, desk or fridge.
  Stick them to your online wall instead.
  
  
  EasyNotes is a web-based sticky notes tool that lets you easily add notes on a digital board.

You can give a title to your notes, write them in a text field or add a bullet list.
It keeps all your notes listed so you can quickly see the contents of the note and find the one you want.

You can incorporate EasyNotes into your workflow for study or work, increasing your productivity and eliminating procrastination.
keep all your notes organized in one virtual board, take them with you, and enjoy your day!
</p>
  
  <section>
    <div>
      <p>Easy Notes helps you to manage your work area, so you can go from this...</p>
      {% load static %}    
      <img src="{% static 'easy_notes_app/jesus-hilario-h-5v69Vl62NCM-unsplash.jpg' %}"
           alt="Messy desktop"
           weight='400'
           height='300'>
    </div>
    <div>
      <p>...to something more like this:</p>
      {% load static %}
        <img src="{% static 'easy_notes_app/jeff-sheldon-mKxdiW2QEkE-unsplash.jpg' %}"
             alt="Tidy desktop"
             weight='400'
             height='300'>
    </div>
  </section>
  
  <section>
    <p>Get in touch!</p>
  </section>

  <div class="icons">
    <p>
      Icons made by: <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> and
        <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>    
    </p>
    <p>
      Photos by <a href="https://unsplash.com/@freegraphictoday?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">AbsolutVision</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>, 
      <a href="https://unsplash.com/@jesushilarioh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jesus Hilario H.</a> on <a href="https://unsplash.com/s/photos/messy-desktop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> and 
      <a href="https://unsplash.com/@ugmonk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jeff Sheldon</a> on <a href="https://unsplash.com/s/photos/tidy-desk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>   
    </p>
  </div>
  
  {% load static %}
  <img src="{% static 'easy_notes_app/kyle-glenn-kvIAk3J_A1c-unsplash.jpg' %}"
       alt="Messy sticky notes board"
       weight='400'
       height='300'>
  <img src="{% static 'easy_notes_app/leonie-christine-JGJ51l7Uh_E-unsplash.jpg' %}"
       alt="Walking with backpack in a cactus shop"
       weight='400'
       height='300'>

  <div>
    Photo by <a href="https://unsplash.com/@kylejglenn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle Glenn</a> on <a href="https://unsplash.com/s/photos/sticky-notes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    Photo by <a href="https://unsplash.com/@leoniechristine_visuals?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leonie Christine</a> on <a href="https://unsplash.com/s/photos/walking-city-backpack?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

  
  </div>
{% endblock content %}



