{% extends "easy_notes_app/base.html" %}

{% block content %}

  {% load static %}
  <!--First section-->
  <div class="container col-xxl-8 px-4 py-5">
  	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  		<div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'easy_notes_app/jesus-hilario-h-5v69Vl62NCM-unsplash.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Messy desktop" loading="lazy">
  		</div>
  		<div class="col-lg-6">
  			<div class="lc-block mb-3">
  				<div editable="rich">
  					<h2 class="fw-bold display-5">Easy Notes helps you to manage your work area, so you can go from this...</h2>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <!--First section-->
  <!--Second section-->
  <div class="container col-xxl-8 px-4 py-5">
  	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  		<div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'easy_notes_app/jeff-sheldon-mKxdiW2QEkE-unsplash.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Tidy desktop" loading="lazy">
  		</div>
  		<div class="col-lg-6">
  			<div class="lc-block mb-3">
  				<div editable="rich">
  					<h2 class="fw-bold display-5">...to something more like this:</h2>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <!--Second section-->
  <!--Third section-->
  <div class="container-fluid px-4 py-5 my-5 text-center">
  	<div class="lc-block d-block mx-auto mb-4">

  		{% load static %}    
        <img src="{% static 'easy_notes_app/leave-clutter-behind.png' %}"
             alt="Walking with backpack in a cactus shop"
             weight='300'
             height='225'>
  	</div>
  	<div class="lc-block">
  		<div editable="rich">
  
  			<h2 class="display-5 fw-bold">EasyNotes is a web-based sticky notes tool that lets you easily add notes on a digital board.</h2>
  
  		</div>
  	</div>
  	<div class="lc-block col-lg-6 mx-auto mb-4">
  		<div editable="rich">
  			<p class="lead ">
              Give a title to your notes, write them as just text or as a to-do list.
              It keeps all your notes listed so you can quickly see the contents of each one and find the one you want.</p>
            <p class="lead ">
              Incorporate EasyNotes into your workflow for study or work, keep all your notes organized in one virtual board
              and take them with you wherever you go. Leave all clutter behind.</p>
  		</div>
  	</div>
  
  	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center"> <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'easy_notes_app:notes' %}" role="button">Go to your board</a>
  		<a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'easy_notes_app:index' %}" role="button">Home</a>
  	</div>
  </div>
  <!--Third section-->
  <div class="text-left">
    <div class="container p-4 pb-0">
      <!-- Section: Credits -->
      <section class="mb-4 text-left icons">
        <div class="icons">
          <p>
            Icons made by: <a href="https://www.freepik.com" title="Freepik">Freepik</a>: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> |
              <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>: <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>    
          </p>
          <p>
            Photos by: <a href="https://unsplash.com/@freegraphictoday?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">AbsolutVision</a>: <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> | 
            <a href="https://unsplash.com/@jesushilarioh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jesus Hilario H.</a>: <a href="https://unsplash.com/s/photos/messy-desktop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> | 
            <a href="https://unsplash.com/@ugmonk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jeff Sheldon</a>: <a href="https://unsplash.com/s/photos/tidy-desk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> |
            <a href="https://unsplash.com/@kylejglenn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle Glenn</a>: <a href="https://unsplash.com/s/photos/sticky-notes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> |
            <a href="https://unsplash.com/@leoniechristine_visuals?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leonie Christine</a>: <a href="https://unsplash.com/s/photos/walking-city-backpack?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
          </p>
        </div>
      </section>
    </div>
  </div>
{% endblock content %}



