<!DOCTYPE html>
<html lang="eng-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Raleway&display=swap" rel="stylesheet"> 
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'easy_notes_app/base-styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/sticky-notes.png' %}"/>
        
    
    {% if title %}
        <title>Easy Notes - {{ title }}</title>
    {% else %}
        <title>Easy Notes - Your notes go with you</title>
    {% endif %}

</head>
<body>

  <header class="header">
    <p>Easy Notes</p>
  </header>

{% block content %}{% endblock content %}

  <footer class="footer">2021, Alina Sansevich | Add link to my GitHub | <a href="{% url 'easy_notes_app:about' %}">About this app</a>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </footer>
</body>
</html> 