{% extends "easy_notes_app/base.html" %}

{% block content %}

  <section>
    <div>
      <p>Your notes go with you.</p>
    
      <p>Tidy up your workspace</p>
      <p>Notes, to-do lists, reminders...</p>
      <p>Manage your workspace easily</p>
      <p>No more clutter in your fridge!</p>
    </div>
    <div>
      {% load static %}
      <img src="{% static 'easy_notes_app/absolutvision-82TpEld0_e4-unsplash.jpg' %}"
           alt="Idea note pined on a board."
           weight='400'
           height='300'> 
  
      <p>
        Turn this into a button! -->
        <a href="{% url 'easy_notes_app:notes' %}">Go to your board</a>
      </p>
    </div>

    


  </section>
  <section>
    <div>
      <p>Easy Notes helps you to manage your work area, so you can go from this...</p>
      {% load static %}    
      <img src="{% static 'easy_notes_app/jesus-hilario-h-5v69Vl62NCM-unsplash.jpg' %}"
           alt="Messy desktop"
           weight='400'
           height='300'>
    </div>
    <div>
      <p>...to something more like this:</p>
      {% load static %}
        <img src="{% static 'easy_notes_app/jeff-sheldon-mKxdiW2QEkE-unsplash.jpg' %}"
             alt="Tidy desktop"
             weight='400'
             height='300'>
    </div>
  </section>
  
  <section>
    <p>Get in touch!</p>
  </section>
  
       
    
  
  
  
  
  
  <div>
    Photo by <a href="https://unsplash.com/@freegraphictoday?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">AbsolutVision</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
  
    Photo by <a href="https://unsplash.com/@jesushilarioh?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jesus Hilario H.</a> on <a href="https://unsplash.com/s/photos/messy-desktop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    Photo by <a href="https://unsplash.com/@ugmonk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jeff Sheldon</a> on <a href="https://unsplash.com/s/photos/tidy-desk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>

  
  
{% endblock content %}