{% extends "easy_notes_app/base.html" %}

{% block content %}
  <div class="container my-5">
  	<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
  		<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
  			<div class="lc-block mb-3">
  				<div editable="rich">
  					<h2 class="fw-bold display-4">Easy Notes&nbsp;<p></p>
  						<h3>Your notes go with you.</h3>
  					</h2>
  				</div>
  			</div>
  
  			<div class="lc-block mb-3">
  				<div editable="rich">
  					<p class="lead">Tidy up your workspace<br>
                        Notes, to-do lists, reminders...<br>
                        Manage your workspace easily<br>
                        No more clutter in your fridge!<br>                      
  					</p>
  				</div>
  			</div>
  
  			<div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a class="btn btn-primary px-4 me-md-2" href="{% url 'easy_notes_app:notes' %}" role="button">Go to your board</a>
  				<a class="btn btn-outline-secondary px-4" href="{% url 'easy_notes_app:about' %}" role="button">About this app</a>
  			</div>
  		</div>
  		<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
  			<div class="lc-block">
  			{% load static %}	
              <img src="{% static 'easy_notes_app/absolutvision-82TpEld0_e4-unsplash.jpg' %}"
                   alt="Idea note pined on a board."
                   weight='500'
                   height='375'>
            </div>
  		</div>
  	</div>
  </div>
{% endblock content %}